.order-table {
    border-collapse: collapse;
}


.ONLINE {
    background: #62ff50;
}

.OFFLINE {
    background: #ff4000;
}

.UNDER_INVESTIGATION {
    background: #ffff66;
}

.order-table-header {
    text-align: center;
    background: none repeat scroll 0 0 #E5E5E5;
    border-bottom: 1px solid #BBBBBB;
    padding: 16px;
}

.order-table-odd-row {
    text-align: center;
    border-top: 1px solid #BBBBBB;
}

.order-table-even-row {
    text-align: center;
    border-top: 1px solid #BBBBBB;
}
